book

gen
target/
__pycache__/
*.lock
.pynb_checkpoints
.vscode/
yarn-error.log
.DS_Store
*.iml
web-ext-artifacts
.pytest_cache
node_modules/
package-lock.json
cmake-build-debug
.idea/
yarn.lock
.ipynb_checkpoints/


*.mp3
*.mp4
*.mov
*.png
*.matroska
*.wav
*.gif